*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url(https://i.pinimg.com/originals/b0/9b/42/b09b423f64c26d0261e5f75fd32c8222.jpg);
    background-size:100%;
    background-position-x: 0%;
    background-position-y: 0%;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
}
header .container{
    height: 4vh;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
.logo{
    display: flex;
    gap: 14px;
    align-items: center;
}
.logo img{
    height: 35px;
    width: 35px;
}
.logo p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500px;
    cursor: default;

}
a{
    text-decoration: none;
    color: rgb(10, 10, 10);
}
ul{
    display: flex;
    gap: 14px;
    list-style: none;
}
li{
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}
.main{
    width: 100%;
    height: 95vh;
    position: absolute;
    margin: auto;
}
.main img{
    align-items: center;
    display:flex;
    margin-left:5%;
    width: 40%;
    height: 100%;
    margin-top: 0%;
    filter: drop-shadow(20px 20px 50px  rgba(0, 0, 0));
}
.content{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.content .container{
    justify-content: center;
    display:inline-flex;
    flex-direction: column;
    width: 450px;
    margin-left: -4%;
    margin-top: 0%;
    height: 45%;
}
.todo{
    display: flex;
    padding: 14px;
    width: 100%;
    flex-direction:row-reverse;
    margin-left: 50%;
}
.todo_value{
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    flex-grow: 1;
    border-bottom: dotted;
}
.todo:has(.todo_checkbox:checked){
    color: rgb(84, 35, 0);
    background: rgba(0, 0, 0, 0.13);
    text-decoration: line-through 1.5px;
    order: 1;
}

.date{
    margin-top: 8%;
    margin-left: 45%;
}
.main .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.295);
}





 /* background-image: url(https://i.pinimg.com/originals/e2/c9/92/e2c992ba82b6b696f063dbc35cb45383.jpg); */
    /* background-image: url(https://e0.pxfuel.com/wallpapers/531/691/desktop-wallpaper-cute-high-definition-simple-background-simple-nature-cartoon.jpg); */
    /* background-image: url(https://marketplace.canva.com/EAFvLD1cRrI/1/0/1600w/canva-green-and-pink-cute-simple-background-a4-landscape-Fe3P-PuFc_0.jpg); */
    /* background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9zdGF0aWMvaW1hZ2Uvd2Vic2l0ZS8yMDIyLTA0L2xyL3YxMDgwLTE3MGUuanBn.jpg); */
    /* background-size: 90%; */
    /* background-position: center; */
    /* background-color: rgb(220, 147, 102); */
    /* font-family: Arial, Helvetica, sans-serif; */
/* width: 60%;
    height: 95%; */
    /* width: 200%; */
    /* width:100%; */
    /* margin-left: 22%; */
    